.top {
  /* border: 1px solid red; */
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}
.btw {
  display: flex;
}
.left {
  /* border: 1px solid rgb(33, 179, 45); */
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  /* border: 1px solid rgb(5, 17, 6); */
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-left,
.top-right {
  width: 30%;
}
.top-right div {
  text-align: right;
}
.top-left h2 {
  text-align: right;
}
.winner {
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
  color: #0a8bb3;
  font-weight: bold;
  font-family: cursive;
}
.middle {
  display: flex;
  flex-direction: column;
}
.middle .title {
  text-align: center;
  margin-bottom: 10px;
}
.middle .previous-cards {
  display: flex;
}
.go-back {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.go-back:hover {
  cursor: pointer;
}
.go-back {
  outline: none;
  border: none;
  width: 150px;
  padding: 0.3rem 10px;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #b74555;
  border-radius: 8px;
}
.rst-game {
  outline: none;
  border: none;
  width: 150px;
  padding: 0.3rem 10px;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #0e5d63;
  border-radius: 8px;
}
.winner-parent {
  text-align: center;
}
.rst-game:hover {
  cursor: pointer;
}
