.pokeinfo h1 {
  margin: 2rem;
}

.pokeinfo h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.abilities {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.abilities .group {
  background-color: #b74555;
  color: white;
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 8px;
}
.base-stat {
  margin-top: 2rem;
}
.game {
  position: fixed;
  bottom: 10px;
  right: 10px;
  outline: none;
  border: none;
  width: 150px;
  padding: 0.3rem 10px;
  margin: 1rem;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #0e5d63;
  border-radius: 8px;
}
.pokeinfo img {
  max-width: 140px;
}
.game:hover {
  cursor: pointer;
}
